/* ReactFlow CSS overrides */
.react-flow {
  width: 100%;
  height: 100%;
}

.react-flow__renderer {
  width: 100%;
  height: 100%;
}

.react-flow__panel {
  position: absolute;
  z-index: 5;
  margin: 15px;
}

.react-flow__panel.bottom {
  bottom: 0;
}

.react-flow__panel.left {
  left: 0;
}

.react-flow__panel.right {
  right: 0;
}

.react-flow__panel.top {
  top: 0;
}

.react-flow__attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 5px;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
  z-index: 1;
}

.react-flow__attribution a {
  text-decoration: none;
  color: #999;
}

